{{#if success_msg}}
  <div class="alertItem hide" alert-type="success">{{success_msg}}</div>  
{{/if}}

{{#if error_msg}}
  <div class="alertItem hide" alert-type="error">{{error_msg}}</div>  
{{/if}}

{{#if error}}
  <div class="alertItem hide" alert-type="error">{{error}}</div>  
{{/if}}